<!DOCTYPE html>
<html>
  <head>
    <title>Epicby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel='stylesheet' href='/css/almost-flat-buttons.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
	<script src="//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js" type="text/javascript"></script>
	<script src="//cdn.jsdelivr.net/backbonejs/0.9.10/backbone-min.js" type="text/javascript"></script>

</head>
<body>
	<div id="fb-root"></div>
	<script src='js/config.js'></script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script src='js/fbLike.js'></script>
	
	<body>
	   	<div id="headerbar" class="navbar navbar-fixed-top"></div>
		<div class="my-page-header"></div>
		<div id="container" class="container"></div>
</body>

<!-- Template for a message that can be changed according to what happens-->
<script type="text/template" id="alertMsg">
<% if (msg != "") { %>
<div class="alert"><%= msg %></div>
<% } %>
</script>
<!-- TEMPLATES!!!! -->
<script type="text/template" id="header_bar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Piazzo</a>
      <div class="navbar-content">
        <ul class="nav  pull-right">
        	<li>
			<% if (place === 'dev') { %>
        		<div class="fb-like liked" data-href="http://localhost:5000" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="arial"></div><%} else {%>
				<div class="fb-like liked" data-href="http://piazzo.co" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="arial"></div>
<% } %>
    		</li>
        	<li>
        		<a href="#options">Options</a>
    		</li>
			  <li>
				<a href="/logout">Logout</a>
			  </li>
        </ul>
      </div>
    </div>
  </div>
</script>	
<!-- Template for button and list of friends who are users and those who are not -->
<script type="text/template" id="page_upfo_t">
	<div id="activeview"><!--ActiveView--></div>
	<div id="messages" ><!-- messages --></div>
  	<div id="upfoview"><!-- Users who are friends --></div>
	<div id="nonupfoview">
  		<p class="text-info">Your friends that are not on Piazzo yet:</p>
  		<table class="table table-condensed" id="nonuser"><tbody></tbody></table>
	</div>
</script>
<!-- Phone number input for Options page -->
<script type="text/template" id="page_options_t">
	<form id="optionsform" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="user-phone">Phone:</label>
			<div class="controls"><input id="user-phone" type="text" value="<%= phoneNumber %>" class="input-medium"></div>
		</div>
		<div class="control-group">
			<label class="control-label" for="user-city">City:</label>
			<div class="controls"><input id="user-city" type="text" value="<%= city %>" class="input-medium"></div>
		<button type="submit" class="button primary-dark" id="save">Save</button>
		</div>

	</form>
</script>
<!-- Button and message -->
<script type="text/template" id="button_t">
	<% if (upfo === false) { %>
		<p class="lead text-info">Tell your friends youre up for something:</p>
		<!-- <form class="form-vertical" id="active">-->
    	<span class="help-inline"><p><small>Message (Optional):</small></p></span>
		<input id="user-message" type="text" class="input-medium input-block-level">
		<button class="button primary-dark" id="active">Im up for something!</button>
	<!-- </form> -->
	<% } else { %>
	<p class="lead text-info">You're up for something!</p>
		<form>
		<table>
			<tr>
				<td colspan=2><p><small>Message:</small></p></td>
			</tr>
			<tr>
				<td><input id="user-message" type="text" class="input-medium input-block-level inputtext" value="<%= message %>"></td>
				<td><button class="button secondary small msgset" id="msgset">Save</button></td>
			</tr>
		</table>
		</form>
		<button class="button primary" onclick="publishFBStory();">Share on Facebook</button>
	<button class="button warning" id="active">Cancel</button>
	<% } %>	
	
	
</script>


<script type="text/template" id="friend_t">
        <td width="60 ">
          <img src="//app.divshot.com/img/placeholder-100x100.gif
" class="img-rounded " width="50 "> 
        </td>
        <td><%= name %>
          <% if(user) { %>
			<br/><em><small><%= message %><small></em></td>
			<td>
            <% if(typeof phoneNumber === 'undefined' || !phoneNumber) { %>
            	<a class="btn <%= upfo?'btn-success':'btn-warning' %> disabled" href="# >">Call</a> 	
              	<a class="btn <%= upfo?'btn-success':'btn-warning' %> disabled" href="# >">SMS</a> 
            <% } else { %>
              <a class="btn <%= upfo?'btn-success':'btn-warning' %>" href="tel:<%= phoneNumber %>">Call</a> 
              <a class="btn <%= upfo?'btn-success':'btn-warning' %>" href="sms:<%= phoneNumber %>">SMS</a> 
            <% } %>
			</td>
          <% } else { %>
			</td>
			<td><%= city %></td>
			<td>
            <a class="butto" onclick="sendRequestToRecipients(<%= fbId %>)">Invite</a>
 			</td>
          <% } %>
</script>

<script type="text/template" id="upfo_t">
		<p class="text-info">Your friends that are up for something:</p>
	<% if(upfo) { %>
		<% if($upfoFriends.html()) { %>
	    	<table class="table table-condensed" id="upfo"><%= $upfoFriends.html() %></table>
    	<% } else { %>
			<div class="alert">None of your friends are currently up for something! Maybe you should invite more friends? You can send invites from the list below or <a href="#" onclick="sendFBRequest();">click here to invite more people at the same time.</a></div>
		<% } %>
		
    	<% if($notupfoFriends.html()) { %>
	    	<p class="text-info">Your friends that are using Piazzo but not up for something right now:</p>	  	
	    	<table class="table table-condensed" id="notupfo"><%= $notupfoFriends.html() %></table>
    	<% } %>
	<% } else { %>
		<% if(seeStatusFriends.length > 0) { %>
			<p class="alert alert-info">Set your status of to "up for someting" to see the status of your Facebook friends.</p>
		<% } else { %>
			<div class="alert">You don't have any friends on piazzo, yet! Maybe you should invite some? You can send invites from the list below or <a href="#" onclick="sendFBRequest();">click here to invite more people at the same time.</a></div> 
		<% } %>
	<% } %>
</script>

<script src="js/main.js"></script>
<script src="js/views.js"></script>
<script src="js/facebook.js"></script>
<script src="js/helpers.js"></script>
</html>