<!DOCTYPE html>
<html>
  <head>
    <title>Epicby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
	<script src="//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js" type="text/javascript"></script>
	<script src="//cdn.jsdelivr.net/backbonejs/0.9.10/backbone-min.js" type="text/javascript"></script>
	<!-- <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootswatch/2.3.1/flatly/bootstrap.min.css'> -->
	<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/app.css">
    <!-- <link rel="stylesheet" href="/css/flat-ui.css"> -->
	<link rel="stylesheet" href="/css/styles.css">
	<!-- fix for windows ie10-->
	<script>
	(function() {
		if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
			var msViewportStyle = document.createElement("style");
			msViewportStyle.appendChild(
				document.createTextNode("@-ms-viewport{width:auto!important}")
			);
			document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
		}
	})();
	</script>

</head>
<body>
	<div id="fb-root"></div>
	<script src='js/config.js'></script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script src='js/fbLike.js'></script>
		<div id="headerbar" class="container-fluid"></div>
		<div id="container" class="container-fluid"></div>
</body>

<!-- TEMPLATES!!!! -->
<!-- Template for a message that can be changed according to what happens-->
<script type="text/template" id="ventMsg">
<% if (msg != "") { %>
<div class="panel callout"><p><%= msg %></p></div>
<% } %>
</script>

<!-- The Header -->
<script type="text/template" id="headerbarr">
    <div class="navbar-inner" style="padding-left: 11px;">
		<div class="container-fluid">
		<a class="brand" href="#"> Piazzo</a>
		<ul class="nav" style="float:right;">
			<li>
		<% if (place === 'dev') { %>
    		<div class="fb-like liked" data-href="http://localhost:5000" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="arial"></div>
    	<%} else {%>
			<div class="fb-like liked" data-href="http://piazzo.co" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="arial"></div>
		<% } %>
		</li>
		<li id="dropdown">
      		<div class="dropdown">
				<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
					<img src="/images/menu.svg"> 
					<b class="caret"></b>
		  		</a>
		  		<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
        		<li>
        			<a tabindex="-1" href="#options">Options</a>
    				</li>
			  	<li>
					<a tabindex="-1" href="/logout">Logout</a>
			  	</li>
        	</ul>
		</li>
		</ul>
		</div>
      </div>
	</li>
	</ul>
    </div>
	<br class="clear" />
</script>	
<!-- "Meta" Template that has placeholders for button "UPfoButtonView" and list of friends who are users "userView" and those who are not "nonUserView"-->
<script type="text/template" id="active_page">
	<div id="upfoButtonView"><!--UpfoButtonView--></div>
	<div id="messages" ><!-- messages --></div>
	<div class="listDiv">
		<h4>Your friends that are up for something:</p>
	</div>
  	<div id="userView">
		<!-- Users who are friends --></div>
	<div id="nonUserView">
		<button class="button primary" href="#" onclick="sendFBRequest();">Invite more friends</button>
  		<h5 class="subheader">Friends you can invite that are not on Piazzo yet:</h5>
  		<table class="table table-condensed" id="nonuser"><tbody></tbody></table>
	</div>
</script>



<!-- Phone number and city input for Options page -->
<script type="text/template" id="page_options_t">
	<div class="container-fluid"
	<form id="optionsform" class="form-horizontal">
		<h2>Options</h2>
		<fieldset>
		<div class="control-group">
			<label class="control-label" for="user-phone">Phone</label>
			<div class="controls">
				<input id="user-phone" type="text" value="<%= phoneNumber %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="user-city">City</label>
			<div class="controls">
				<input id="user-city" type="text" value="<%= city %>">
				<button class="btn" id="fetchGPS"><span class="fui-location-24"></span></button>
			</div>
		</div>
		<div class="form-actions">
            <button type="submit" id="save" class="btn btn-primary btn-large">Save changes</button>
            <button onClick="parent.location='/'" class="btn btn-large" id="back">Back</button>
          </div>
		</fieldset>
	</form>
	</div>
</script>




<!-- Button and message -->
<script type="text/template" id="upfo_button">
	<% if (upfo === false) { %>
		<h4 id="firstText">Tell your friends that you&rsquo;re up for something:</h4>
		<form id="upfoForm">
			<input id="user-message" type="text" placeholder="Your message" class="input-block-level">
			<div class="activeDiv">
			<input type="submit" class="button success-darker" id="active" value="I&rsquo;m up for something!">
		</form>
		<h5 class="subheader"><img src="/images/mappin.svg"><%=city%> <span id="cityText"><a href="#" id="editCity">change location</a></span></h5>
		</div>
	<% } else { %>
	<h4 id="firstText">You're up for something!</h4>
		<form id="msgForm">
			<div class="row">
				<div class="large-8 columns">
					<input id="user-message" type="text" class="input-block-level inputtext" placeholder="Your message" value="<%= message %>">
				</div>
				<div class="large-4 columns">
					<button class="btn btn-small msgset" id="msgset">Update message</button>
				</div>
			</div>
		</form>
		
		<h5 class="subheader"><img src="/images/mappin.svg"><%=city%>   <span id="cityText"><a href="#" id="editCity">change location</a></span></h5>
		<div class="activeDiv">
		<button class="button primary" onclick="publishFBStory();">Share on Facebook</button>
	<button class="button alert" id="cancelUpfo">Cancel</button>
	</div>
	<% } %>	
	
	
</script>


<script type="text/template" id="friend_t">
        <td class="pictd">
		<% if (place === 'prod') { %>
          <img src="https://graph.facebook.com/<%= fbId?fbId:'facebook' %>/picture" class="img-rounded " width="50 "> <% } %>
 		
        </td>
        <td class="nametd">
			<h6><%= name %><small></h6> 
			<h2><small><%= city %></small></h2>
		<% if(user) { %>
			<br/><p class="subheader"><%= message %></p>
		  <% } %>
		</td>
		<% if(user){ %>
			<td class="nrtd">
            <% if(typeof phoneNumber === 'undefined' || !phoneNumber) { %>
            	<a class="button small<%= upfo?'primary':'warning' %> disabled" href="# >">Call</a> 	
            <% } else { %>
              <a class="button small <%= upfo?'primary':'warning' %>" href="tel:<%= phoneNumber %>">Call</a> 
            <% } %>
			</td>
          <% } else { %>
			<td class="nrtd">
            	<a class="button success" onclick="sendRequestToRecipients(<%= fbId %>)">Invite</a>
 			</td>
          <% } %>
</script>

<script type="text/template" id="userList">
		
	<% if(upfo) { %>
		<% if($upfoFriends.html()) { %>
	    	<table class="table table-condensed" id="upfo"><%= $upfoFriends.html() %></table>
    	<% } else { %>
			<div class="panel"><h6>None of your friends are currently up for something!</h6> <p>Maybe you should invite more friends?</p></div>
		<% } %>
		
    	<% if($notupfoFriends.html()) { %>
	    	<h5>Your friends that are using Piazzo but not up for something right now:</p>	  	
	    	<table class="table table-condensed" id="notupfo"><%= $notupfoFriends.html() %></table>
    	<% } %>
	<% } else { %>
			<div class="panel"><p>Set your status of to "up for something" to see the status of your Facebook friends.</p></div>
	
	<% } %>
</script>

<script src="js/bootstrap.js"></script>
<script src="js/main.js"></script>
<script src="js/views.js"></script>
<script src="js/facebook.js"></script>
<script src="js/helpers.js"></script>
<script src="js/spin.js"></script>
<script src="js/spinSettings.js"></script>


</html>