<!DOCTYPE html>
<html>
  <head>
    <title>Piazzo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel='stylesheet' href='/css/almost-flat-buttons.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h1>Piazzo</h1>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<p>Meet more friends</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<a class="button primary-dark" href="/fbauth" id="fbLoginButton">Login with Facebook</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<p>Want to do something but don't know who to call? </p>
				<p>Looking for people to lunch with? </p>
				<p>Want more friends to join your dinner? <br></p>
				<p>Piazzo helps you in these situations. <br> It's just a button and message which says to your friends that you're up for doing something. <br> The rules are the following:<br>
					<ol>
						<li>Your status is automatically cancelled in 1 hour.</li>
						<li>You can't cancel your status within 10 minutes. </li> </p>
			</div>
		</div>
	</div><!-- container-->
	<script>
	console.log('headerbar height is: ' + $('.container').height());
	</script>
</body>
</html>