/* apply a natural box layout model to all elements */
{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.dynamicContent {
	max-width: 480px;
	margin-right: auto;
	margin-left: auto;
}

#dropdown{
	padding-left:20px;
	padding-top:8px;
}

#headerbar {
	height: 40px;
}
.navbar-inner {
	padding-left:5px;
}

#headerbar .dropdown {
	float: right;
}
#nonuser tr td{
	min-width: 50px;
}

#nonuser {
	max-width: 100%;
}

h5 img {
	padding-right: 9px;
}

#cityText {
	margin-top:4px;
	margin-bottom:7px;
}
.liked {
	padding-top:10px;
}

.listText {
	margin-bottom:2px;
}

.listDiv {
	margin-bottom: 7px;
}

.listDiv h4 {
	margin-top: 5vw;
}

.activeDiv {
	margin-top:9px;
	margin-bottom:18px;
}

#alerttext {
  margin-top: 12px;
}

#well1 {
  margin-top:12px;
}

.btn-grey {
  color: rgb(125,125,125);
  margin-bottom:5px;
  margin-top:10px;
}

.msgset button{
    height: 30px;
    margin-top: 3px;
}

#msgset {
	margin-top:3px;
}

#user-message {
	font-size: 1em;
}

#firstText {
	margin-top: 5vw;
	margin-bottom:3vw;
}

.activeDiv input {
	margin-top:1vw;
	margin-bottom:4vw;
}

#nonUserView button {
	margin-top:2vw;
	margin-bottom:2vw;
}

#headerbar {
	padding:0;
	
}

.navbar {
	width:100%;
	right:0;
	left:0;
}
/*Styling for the list of users, in template friend_t*/

	table {
		width:100%;
	}

	.pictd {
		width: 60px;
	}

	.nrtd {
		width: 60px;
	}

	
.optionsbuttons {
	margin-top: 5px;
}

/* Fix alerts in flat */

.alert {
	text-shadow: none;
}

/* Fixing responsiveness for windows devices...*/
@-ms-viewport{
	width: device-width;
}

/*spin2 is for the spinner that's up on the page..*/
#spin2 {
	height: 100px;
}

