/* apply a natural box layout model to all elements */
/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

.dynamicContent {
	max-width: 480px;
	margin-right: auto;
	margin-left: auto;
}

#nonuser tr td{
	min-width: 50px;
}

#nonuser {
	max-width: 100%;
}

#cityText {
	margin-top:4px;
	margin-bottom:7px;
}
.liked {
	padding-top:10px;
}

.listText {
	margin-bottom:2px;
}

.listDiv {
	border-bottom:1px solid #222;
	margin-bottom: 7px;
}

.activeDiv {
	margin-top:9px;
	margin-bottom:18px;
}

#alerttext {
  margin-top: 12px;
}

#well1 {
  margin-top:12px;
}

.btn-grey {
  color: rgb(125,125,125);
  margin-bottom:5px;
  margin-top:10px;
}

.msgset button{
    height: 30px;
    margin-top: 3px;
}

#msgset {
	margin-top:3px;
}

select {
font-size: 50px;
}

#firstText {
	margin-top: 3px;
}

/*Styling for the list of users, in template friend_t*/

	table {
		width:100%;
	}

	.pictd {
		width: 60px;
	}

	.nrtd {
		width: 60px;
	}

	
.optionsbuttons {
	margin-top: 5px;
}

/* Fix alerts in flat */

.alert {
	text-shadow: none;
}

.alert-info {
	background-color: #3498DB;
}
/* Fixing responsiveness for windows devices...*/
@-ms-viewport{
	width: device-width;
}

/*spin2 is for the spinner that's up on the page..*/
#spin2 {
	height: 100px;
}

