<!DOCTYPE html>
<html>
  <head>
    <title>Epicby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/backbonejs/0.9.10/backbone-min.js" type="text/javascript"></script>

</head>
<body>
	<body>
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="brand" href="#">Piazzo</a>
	          <div class="navbar-content">
	            <ul class="nav  pull-right">
				  <li>
					<a href="/logout">Logout</a>
				  </li>
	              <li>
	                <a href="#">Settings</a> 
	              </li>
	              <li>
	                <a href="#">Home</a> 
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
	<div class="page-header"></div>
	<div class="container">
	<div id="check"></div>
    <p class="text-info">Your friends that are up for something:</p>
        
	
      <table class="table table-condensed" id="upfo"><tbody></tbody></table>
<p class="text-info">Your friends that are using Piazzo but not up for something right now:</p>
	<table class="table table-condensed" id="notupfo"><tbody></tbody></table>
	<p class="text-info">Your friends that are not on Piazzo yet:</p>
	<table class="table table-condensed" id="nonuser"><tbody></tbody></table>
	
      <p
      class="text-info">12 of your friends are using Piazzo:&nbsp;</p>
        <div class="row">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30"> 
        </div>
        <br>
        <p>You can
          <a>invite many at the same time using the Facebook Widget</a>
          <br> or one by one:</p>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr></tr>
          </tbody>
        </table>
	</div><!-- container-->
</body>


<!-- TEMPLATES!!!! -->
<script type="text/template" id="button_t">
	<% if (upfo === false) { %>
		<p class="lead text-info">Tell your friends you're up for something:</p>
		<!-- <form class="form-vertical" id="active">-->
    	<span class="help-inline">Message (Optional):</span>
		<input type="text" class="input-medium input-block-level">
		<button class="btn btn-primary" id="active">Im up for something!</button>
		<div class="alert"><button type="button" class="close" data-dismiss="alert">×</button>You have to be up for something to see who else is!</div>
	<!-- </form> -->
	<% } else { %>
	<p class="lead text-info">You're up for something!</p>
	<!--	<form class="form-vertical" id="active"> -->
        <input type="text" class="input-medium input-block-level inputtext" value="Running anyone?"
        onclick="this.value=''" <="" form=""> 
	<button class="btn btn-warning" id="active">Cancel</button>
	<!-- </form> -->
	<% } %>	
</script>

<script type="text/template" id="friend_t">
        <td width="60 ">
          <img src="//app.divshot.com/img/placeholder-100x100.gif
" class="img-rounded " width="50 "> 
        </td>
        <td><%= name %></td>
        <% if(user) { %>
	    <td>
        <% if(upfo) { %>
	          <a class="btn btn-success">Join (3)</a> 
        <% } %>
	    </td>
        <td>
          <a class="btn ">Chat (2)</a> 
        </td>
        <td>
          <a class="btn ">Call</a> 
        </td>
        <% } else { %>
        <td>
          <a class="btn ">Invite</a> 
        </td>
        <% } %>
</script>
<script>
	$(function($){	
		
		var friendsData = [{name: "Juha", location: "Sydney", upfo: true, user: false},
		{name: "Jonne", location: "Stockholm", upfo: false, user: false},
		{name: "Jarkko", location: "Turku", upfo: false, user: true},
		{name: "Jesse", location: "London", upfo: true, user: false},
		{name: "Janina", location: "Tallinn", upfo: true, user: true}];
		/*
		 * MODELS
		 */
		
		// The user represents the current user that is fetched from the database...
		var User = Backbone.Model.extend({
			urlRoot: '/api/users',
			// This idAttribute should set the identifier id
			// to the field facebook id
			idAttribute: 'fbId',
			defaults: {
				fbId: '761506933',
				name: 'Riku',
				location: 'Helsinki',
				upfo: false,
				message: 'Golf anyone?',
				friends: {},
				fbaccessToken: ''
			},
			/*
			initialize: function() {
				this.user = new User();
				this.user.url = '/users/' + req.fbid
			},*/
			
			toggleactive: function() {
				var upfor = user.get('upfo');
				if (upfor === true) {
					user.save({upfo : false});
					console.log('upfo set to false'); }
				else {
					user.save({upfo : true});
					//friendsList.reset();
					friendsList.fetch();
					console.log('upfo set to true');
				};
				console.log(user.get('name'));
			},
		});
		
		// The friendmodel represents one friend fetched from the database
		var Friend = Backbone.Model.extend({
			defaults: {
				name: "John",
				location: "Helsinki",
				active: true,
				message: "Golf at Pickala at 6ish?"
			}
		});
		
		
		/*
		 * COLLECTIONS
		 */
		
		//The FriendList is a collection of all friends the user has.
		var FriendsList = Backbone.Collection.extend({
			model: Friend,
			url: 'api/friends',
		
		});

		/*
		 * VIEWS
		 */
		
		var FriendView = Backbone.View.extend({
			tagName: "tr",
			template: _.template( $('#friend_t').html()),
			initalize: function() {
			},
			render: function() {
				var attributes = this.model.toJSON();
				console.log(attributes);
				$(this.el).append(this.template(attributes));
				return this; 
			}
			
		});
		
		var ActiveView = Backbone.View.extend({
			el: "#check",
			template: _.template( $('#button_t').html()),
			
			events: {"click button#active" : 'toggleactive'},
			
			initialize: function() {
				this.model.on('change', this.render, this);
				this.render(this);
			
			},
			
			render: function() {
				this.$el.html("");
				var attributes = user.toJSON();
				this.$el.append(this.template(attributes));	
				return this;
			},
			
			toggleactive: function() {
				console.log('I\'m in toggleactive' + this.model + ' collection:' + this.collection);
				this.model.toggleactive();
			},	
		});
		
		//IsupfoView is the view that renders the friends that are upfo.
		var IsupfoView = Backbone.View.extend({
			el: "#upfo",

			initialize: function() {
				//this.collection.fetch();
				this.collection.on('reset', this.render, this);
				this.model.on('change', this.render, this);
			},
			
			render: function() {
				
				var self = this;
				var isUpfo = this.collection.where({user: true, upfo: true});
				
				this.$el.html("");
				if (this.model.get("upfo")) {
					_.each(isUpfo, function(friend){
						self.$el.append(new FriendView({model:friend}).render().el);
					});
				}
				return this; //It's good to always return this from render() 
			}
				
		});
		
		//NotupfoView is the view that renders the friends that are NOT upfo.
		var NotupfoView = Backbone.View.extend({
			el: "#notupfo",

			initialize: function() {
				
				//this.collection.fetch();
				this.collection.on('reset', this.render, this);
				this.model.on('change', this.render, this);
			},
			
			render: function() {
				
				var self = this;
				var notUpfo = this.collection.where({user: true, upfo: false});
				
				this.$el.html("");
				if (this.model.get("upfo")) {
					_.each(notUpfo, function(friend){
						self.$el.append(new FriendView({model:friend}).render().el);
					});
				}
				return this; //It's good to always return this from render() 
			}
				
		});
		
		//NonuserView is the view that renders the friends that are users of the app
		var NonuserView = Backbone.View.extend({
			el: "#nonuser",

			initialize: function() {
				//this.collection.fetch();
				this.collection.on('reset', this.render, this);
				this.model.on('change', this.render, this);
			},
			
			render: function() {
				
				var self = this;
				var nonUser = this.collection.where({user: false});
				
				this.$el.html("");
				
				if (this.model.get("upfo")) {
					_.each(nonUser, function(friend){
						self.$el.append(new FriendView({model:friend}).render().el);
					});
				}
				return this; //It's good to always return this from render() 
			}
				
		});
		
		
		//var mainView = new MainView();
		var user = new User();
		var friendsList = new FriendsList();
		var activeView = new ActiveView( {model: user} );
		var isupfoView = new IsupfoView({collection: friendsList, model: user});
		var notupfoView = new NotupfoView({collection: friendsList, model: user});
		var nonuserView = new NonuserView({collection: friendsList, model: user});
		//friendsList.reset(friendsData);
		friendsList.fetch();
	});
	  
</script>
</html>