<!DOCTYPE html>
<html>
  <head>
    <title>Epicby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/backbonejs/0.9.10/backbone-min.js" type="text/javascript"></script>

</head>
<body>
	<body>
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="brand" href="#">Piazzo</a>
	          <div class="navbar-content">
	            <ul class="nav  pull-right">
				  <li>
					<a href="/logout">Logout</a>
				  </li>
	              <li>
	                <a href="#">Settings</a> 
	              </li>
	              <li>
	                <a href="#">Home</a> 
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
	<div class="page-header"></div>
	<div class="container">
	<div id="check"></div>
    <p class="text-info">Your friends that are up for something:</p>
        
	
      <table class="table table-condensed" id="upfo"><tbody></tbody></table>
<p class="text-info">Your friends that are using Piazzo but not up for something right now:</p>
	<table class="table table-condensed" id="notupfo"><tbody></tbody></table>
	<p class="text-info">Your friends that are not on Piazzo yet:</p>
	<table class="table table-condensed" id="nonuser"><tbody></tbody></table>
	
      <p
      class="text-info">12 of your friends are using Piazzo:&nbsp;</p>
        <div class="row">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30">
          <img src="//app.divshot.com/img/placeholder-100x100.gif" width="30"> 
        </div>
        <br>
        <p>You can
          <a>invite many at the same time using the Facebook Widget</a>
          <br> or one by one:</p>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td width="60">
                <img src="//app.divshot.com/img/placeholder-100x100.gif" class="img-rounded"
                width="50"> 
              </td>
              <td>Michael Huffenburg</td>
              <td>
                <a class="btn">Invite</a> 
              </td>
            </tr>
            <tr></tr>
            <tr></tr>
          </tbody>
        </table>
	</div><!-- container-->
</body>


<!-- TEMPLATES!!!! -->
<script type="text/template" id="button_t">
	<% if (upfo === false) { %>
		<p class="lead text-info">Tell your friends you are up for something:</p>
		<!-- <form class="form-vertical" id="active">-->
    	<span class="help-inline">Message (Optional):</span>
		<input id="user-message" type="text" class="input-medium input-block-level">
		<button class="btn btn-primary" id="active">Im up for something!</button>
		<div class="alert"><button type="button" class="close" data-dismiss="alert">×</button>You have to be up for something to see who else is!</div>
	<!-- </form> -->
	<% } else { %>
	<p class="lead text-info">Youre up for something!</p>
	<!--	<form class="form-vertical" id="active"> -->
	    	<span class="help-inline">Your message:</span>
        <input id="user-message" type="text" class="input-medium input-block-level inputtext" value="<%= message %>" disabled> 
	<button class="btn btn-warning" id="active">Cancel</button>
	<!-- </form> -->
	<% } %>	
</script>

<script type="text/template" id="friend_t">
        <td width="60 ">
          <img src="//app.divshot.com/img/placeholder-100x100.gif
" class="img-rounded " width="50 "> 
        </td>
        <td><%= name %><br/><em><%= message %></em></td>
        <% if(user) { %>
	    <td>
        <% if(upfo) { %>
	          <a class="btn btn-success">Join (3)</a> 
        <% } %>
	    </td>
        <td>
          <a class="btn ">Chat (2)</a> 
        </td>
        <td>
          <a class="btn ">Call</a> 
        </td>
        <% } else { %>
        <td>
          <a class="btn ">Invite</a> 
        </td>
        <% } %>
</script>
<script src="js/main.js"></script>
<script src="js/views.js"></script>
</html>